@import "variables.scss";
@import "fonts.scss";
@import "header.scss";
@import "advantages.scss";
@import "testimonials.scss";

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: auto;
  text-align: center;
}

.visually-hidden {
  visibility: hidden;
  font-size: 0;
  width: 9;
  height: 0;
}

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
