@import "variables.scss";
@import "header.scss";


body { background: $red }

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}  
